<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ytimg.com/vi/PCmAm6ZPIGU/hqdefault.jpg">
    <meta property="og:title" content="Let Chat - Come To Join">
    <meta property="og:description" content="Ứng dụng chat bằng SocketJs và Spring Webscoket">
    <title>Let Chat - Come To Join</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: black" background="http://getwallpapers.com/wallpaper/full/9/5/7/1157002-world-map-desktop-wallpaper-hd-1920x1080-for-windows-10.jpg">
<div class="container">
    <form style="margin-top: 30%; margin-left: 58%" class="form-inline" id="loginForm" name="loginForm" method="POST">
        <div class="form-group">
            <input style="opacity: 0.5" class="form-control border border-dark" placeholder="Type your name" type="text" name="username"/>
            <!--<button class="btn btn-default" type="submit">Go</button>-->
        </div>
    </form>
</div>
</body>
</html>